<%- include("header") %>
<div class="container">

  <div class="card">
  <div class="card-body">
    <h1 class="card-title"><%= foundClues.category %></h1>
    <!-- <h6 class="card-subtitle mb-2 text-muted"><%= foundClues.answer %></h6> -->
    <p class="card-text"><%= foundClues.answer %></p>
    <a href="#" class="card-link">Show Question</a>
    <a href="#" class="card-link">Next</a>
  </div>
</div>
</div>
<%- include("footer") %>
