<%- include("header") %>
<%- include("navbar") %>

<div id="main" class="container">


<!-- Clue -->
  <div class="container">
    <div class="card clue">
      <div class="card-body">
        <h1 class="card-title"><%= foundClues.category.replace(/\\/g, "") %></h1>
        <p class="card-text"><%= foundClues.answer.replace(/\\/g, "") %></p>
        <h6 id="question" class="card-subtitle mb-2"><%= foundClues.question.replace(/\\/g, "") %></h6>
      </div>
    </div>
  </div>


<!-- User Inputs --->
  <div class="container">
    <button onClick="showQuestion()" class="btn btn-outline-primary control-button" type="button">Show Answer</button>

    <div class="container row buttonRow">
      <div class="col sm">
        <form class="answer-form" action="/" method="get">
          <button class="btn btn-danger control-button incorrect" type="submit" name="button"><i class="fa fa-times"></i></button>
        </form>
      </div>
      <div class="col sm">
        <form class="answer-form" action="/" method="get">
          <button class="btn btn-success control-button correct" type="submit" name="button"><i class="fa fa-check"></i></button>
        </form>
      </div>
    </div>

  </div>

</div>
<%- include("footer") %>
