<%- include("header") %>
<div class="container">

  <div class="card">
    <div class="card-body">
      <h1 class="card-title"><%= foundClues.category.replace("\\", "") %></h1>
      <p class="card-text"><%= foundClues.answer.replace("\\", "") %></p>
      <h6 id="question" class="card-subtitle mb-2 text-muted"><%= foundClues.question.replace("\\", "") %></h6>
    </div>
  </div>
</div>

<div class="container">
  <button onClick="showQuestion()" class="btn btn-outline-primary control-button" type="button">Show Answer</button>
  <form class="" action="/" method="get">
    <button class="btn btn-primary control-button" type="submit" name="button">Next</button>
  </form>
</div>
<%- include("footer") %>
